* {
    box-sizing: border-box;
    margin: 0;
}

body {
    height: 300vh;
}

img {
    width: 100%;
    height: 100%;
}

ul {
    list-style-type: none;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 30px;
}


.slider {
    display: flex;
}

.slider-item {
    width: 100%;
    display: none;
    height: 90vh;
}

.slider-item.show {
    display: block;
}

.slider-btn {
    display: flex;
    justify-content: center;
}

.slider-btn button {
    font-size: 2rem;
    margin: 0;
}


.dropdown-container {
    display: none;
}

.dropdown-container.show {
    display: block;
}


.scroll-top {
    position: fixed;
    bottom: 100px;
    right: 30px;
}

.scroll-top button {
    color: red;
    font-size: 30px;

}
.dropdown-container {
    display: none;
}

.dropdown-container.show {
    display: block;
}